<h1>
Random Results
</h1>

<dl>
<dt>
Minimum
</dt>
<dd>
<%= @user_provided_min %>
</dd>

<dt>
Maximum
</dt>
<dd>
<%= @user_provided_max %>
</dd>

<dt>
Random Number
</dt>
<dd>
<%= @randome_number %>
</dd>
</dl>

<a href="/random/new">
Recalculate
</a>
